* {
  margin: 0;
  padding: 0;
}

.container-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 50%;
  border: 2px solid black;
  padding: 5px;
}

.nav {
  width: 100%;
}

.lists {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 6vh;
  margin: 0px auto;
  border: 2px solid black;
  font-size: 0.7rem;
  padding: 0px 7px 0px 10px;
}

.awesome-books {
  flex: 4;
}

.list {
  margin-left: 3%;
}

.border-r {
  padding-right: 5px;
  border-right: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
}

.date {
  font-size: 0.7rem;
  align-self: flex-end;
  margin-top: 2px;
}

.heading {
  font-size: 1rem;
  margin: 10px 0px;
}

.container {
  width: 95%;
  border: 3px solid black;
}

.book-cont {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  padding-bottom: 5px;
}

.container .book-cont:nth-child(odd) {
  background-color: rgb(212, 212, 212);
}

hr {
  width: 10%;
  box-shadow: 8px -2px;
  text-align: center;
  margin: 2% auto;
}

.author {
  flex: 1;
  margin-left: 1%;
}

.remove {
  width: 60px;
  height: 20px;
  margin-right: 3%;
  border: 2px solid black;
  box-shadow: 1px 3px;
}

.new-data {
  width: 36%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-data > h2 {
  margin-top: 10%;
  text-align: center;
  font-size: 2vw;
}

.new-title,
.new-author,
.add {
  display: block;
  margin-top: 20px;
  border: 2px solid black;
  height: 4vh;
}

.add {
  width: 5vw;
  box-shadow: 1px 3px;
  align-self: flex-end;
}
.footer {
  width: 100%;
  border: 2px solid black;
  margin-top: 5%;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.copyright {
  padding-left: 3%;
  font-size: 0.7rem;
}

span {
  margin-left: 25%;
}
